### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [95]:
district_summary = pd.DataFrame([{    
    "Total Schools" : len(school_data_complete["school_name"].unique()),
    "Total Students" : "{:,.0f}".format(len(school_data_complete["student_name"])),
    "Total Budget" : "${:,.2f}".format(school_data["budget"].sum()),
    "Average Math Score" : "{:.6f}".format(student_data["math_score"].mean()),
    "Average Reading Score" : "{:.5f}".format(student_data["reading_score"].mean()),
    "% Passing Math" : "{:.6f}".format((len(student_data[student_data["math_score"] >= 70]["math_score"])/len(school_data_complete["student_name"]))*100),
    "% Passing Reading" : "{:.6f}".format((len(student_data[student_data["reading_score"] >= 70]["reading_score"])/len(school_data_complete["student_name"]))*100),
    "% Overall Passing" : "{:.6f}".format((len(student_data[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70)]["reading_score"])/len(school_data_complete["student_name"]))*100) 
}])

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

Add "Per Student Budget" column to the dataframe

In [3]:
school_data["Per Student Budget"] = school_data["budget"]/school_data["size"]
school_data.head()

,School ID,school_name,type,size,budget,Per Student Budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0

Calculate average maths and reading scores for each school

In [94]:
student_data_df = student_data[["school_name","math_score","reading_score"]]
student_data_group_df = student_data_df.groupby(['school_name'])
student_data_mean_df = student_data_group_df.mean()
student_data_mean_df

                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

Calculate "% Passing Reading"

In [5]:
student_data_df1 = student_data_df.groupby(["school_name"]).count()
total_students = student_data_df1["reading_score"]

student_data_df2 = student_data_df.loc[student_data_df.reading_score >= 70].groupby(["school_name"]).count()
reading_pass = student_data_df2["reading_score"]

reading_percentage_df = pd.DataFrame((reading_pass/total_students)*100)
reading_percentage_df = reading_percentage_df.rename(columns = {
    "reading_score":"% Passing Reading"
    })

Calculate "% Passing Math"

In [6]:
total_students = student_data_df1["math_score"]
student_data_df3 = student_data_df.loc[student_data_df.math_score >= 70].groupby(["school_name"]).count()
math_pass = student_data_df3["math_score"]

math_percentage_df = pd.DataFrame((math_pass/total_students)*100)

math_percentage_df = math_percentage_df.rename(columns = {
    "math_score":"% Passing Math"
    })

In [ ]:
Calculate "% Overall Passing"

In [7]:
total_students = student_data_df1["math_score"]
student_data_df4 = student_data_df.loc[(student_data_df.math_score >= 70) & (student_data_df.reading_score >= 70)].groupby(["school_name"]).count()
overall_pass = student_data_df4["math_score"]

overall_percentage_df = pd.DataFrame((overall_pass/total_students)*100)
overall_percentage_df = overall_percentage_df.rename(columns = {
    "math_score":"% Overall Passing"
    })

In [ ]:
Combine all components by merging each data frame

In [8]:
school_summary_df = pd.merge(school_data,student_data_mean_df,on="school_name")
del school_summary_df["School ID"]
school_summary_df = pd.merge(school_summary_df,math_percentage_df,on="school_name")
school_summary_df = pd.merge(school_summary_df,reading_percentage_df,on="school_name")
school_summary_df = pd.merge(school_summary_df,overall_percentage_df,on="school_name")
school_summary_df = school_summary_df.sort_values(by=['school_name'])
school_summary_df.style.hide_index()
school_summary_df = school_summary_df.rename(columns = {
    "math_score":"Average Math Score",
    "reading_score":"Average Reading Score", 
    "type":"School Type",
    "size" : "Total Students",
    "budget": "Total School Budget",
    "school_name": ""
    })

def bold_cols(s):
    return 'font-weight:bold' 

school_summary_formatted_df = school_summary_df.copy()

#formatting of the report

format_dict = {
    "Total School Budget":"${:,.2f}", 
    "Per Student Budget": "${:,.2f}", 
    "Average Math Score": "{:,.6f}",
    "Average Reading Score": "{:,.6f}",
    "% Passing Math": "{:,.6f}",
    "% Passing Reading": "{:,.6f}",
    "% Overall Passing": "{:,.6f}"
    }
               
school_summary_formatted_df =school_summary_formatted_df.style.format(format_dict).hide_index().applymap(bold_cols, subset=pd.IndexSlice[:, ['']])
school_summary_formatted_df

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [9]:
top_overall_df = school_summary_df.copy()
top_overall_df = top_overall_df.sort_values("% Overall Passing", ascending=False)
top_overall_df = top_overall_df.head(5).style.format(format_dict).hide_index().applymap(bold_cols, subset=pd.IndexSlice[:, ['']])
top_overall_df

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [10]:
bottom_overall_df = school_summary_df.copy()
bottom_overall_df = bottom_overall_df.sort_values("% Overall Passing")
bottom_overall_df = bottom_overall_df.head(5).style.format(format_dict).hide_index().applymap(bold_cols, subset=pd.IndexSlice[:, ['']])
bottom_overall_df

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [11]:
student_data_math_df = student_data[['school_name','grade','math_score']]
student_data_math_grouped_9th_df = student_data_math_df.loc[(student_data_math_df.grade == '9th')].groupby(['school_name'])["math_score"].mean()
student_data_math_grouped_10th_df = student_data_math_df.loc[(student_data_math_df.grade == '10th')].groupby(['school_name'])["math_score"].mean()
student_data_math_grouped_11th_df = student_data_math_df.loc[(student_data_math_df.grade == '11th')].groupby(['school_name'])["math_score"].mean()
student_data_math_grouped_12th_df = student_data_math_df.loc[(student_data_math_df.grade == '12th')].groupby(['school_name'])["math_score"].mean()

student_data_math_grade_df = pd.DataFrame({"9th": student_data_math_grouped_9th_df,
                                             "10th": student_data_math_grouped_10th_df,
                                             "11th": student_data_math_grouped_11th_df,
                                             "12th": student_data_math_grouped_12th_df,
                                            })

format_dict_grades = {
    "9th":"{:,.6f}", 
    "10th":"{:,.6f}", 
    "11th":"{:,.6f}", 
    "12th":"{:,.6f}", 
    }

student_data_math_grade_df = student_data_math_grade_df.reset_index()
student_data_math_grade_df = student_data_math_grade_df.rename(columns = {"school_name": ""})
student_data_math_grade_df = student_data_math_grade_df.style.format(format_dict_grades).hide_index().applymap(bold_cols, subset=pd.IndexSlice[:, ['']])
student_data_math_grade_df

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [12]:
student_data_reading_df = student_data[['school_name','grade','reading_score']]
student_data_reading_grouped_9th_df = student_data_reading_df.loc[(student_data_reading_df.grade == '9th')].groupby(['school_name'])["reading_score"].mean()
student_data_reading_grouped_10th_df = student_data_reading_df.loc[(student_data_reading_df.grade == '10th')].groupby(['school_name'])["reading_score"].mean()
student_data_reading_grouped_11th_df = student_data_reading_df.loc[(student_data_reading_df.grade == '11th')].groupby(['school_name'])["reading_score"].mean()
student_data_reading_grouped_12th_df = student_data_reading_df.loc[(student_data_reading_df.grade == '12th')].groupby(['school_name'])["reading_score"].mean()

student_data_reading_grade_df = pd.DataFrame({"9th": student_data_reading_grouped_9th_df,
                                             "10th": student_data_reading_grouped_10th_df,
                                             "11th": student_data_reading_grouped_11th_df,
                                             "12th": student_data_reading_grouped_12th_df,
                                            })

format_dict_grades = {
    "9th":"{:,.6f}", 
    "10th":"{:,.6f}", 
    "11th":"{:,.6f}", 
    "12th":"{:,.6f}", 
    }

student_data_reading_grade_df = student_data_reading_grade_df.reset_index()
student_data_reading_grade_df = student_data_reading_grade_df.rename(columns = {"school_name": ""})
student_data_reading_grade_df = student_data_reading_grade_df.style.format(format_dict_grades).hide_index().applymap(bold_cols, subset=pd.IndexSlice[:, ['']])
student_data_reading_grade_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [35]:
bins = [0,584, 629, 644, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]
scores_by_spending_df = school_data_complete[["math_score","reading_score"]].copy()
scores_by_spending_df["per_student_spend"] = school_data_complete["budget"]/school_data_complete["size"]
scores_by_spending_df["spending_ranges"] = pd.cut(scores_by_spending_df["per_student_spend"], bins, labels=group_names, include_lowest=True)
scores_by_spending_grouped_df = scores_by_spending_df.groupby(["spending_ranges"])

scores_by_spending_ranged_df = scores_by_spending_grouped_df.mean()
scores_by_spending_ranged_df

                 math_score  reading_score  per_student_spend
spending_ranges
<$584             83.363065      83.964039         580.781564
$585-629          79.982873      82.312643         620.146831
$630-644          77.821056      81.301007         639.358771
$645-675          77.049297      81.005604         651.937383

In [23]:
total_students_maths_series = scores_by_spending_grouped_df["math_score"].count()
student_maths_passed_df = scores_by_spending_df.loc[scores_by_spending_df.math_score >= 70].groupby(["spending_ranges"]).count()
math_passed_series = student_maths_passed_df["math_score"]
math_percentage_ranged_df = pd.DataFrame((math_passed_series/total_students_maths_series)*100)
math_percentage_ranged_df = math_percentage_ranged_df.rename(columns={"math_score":"% Passing Math"})
math_percentage_ranged_df

                 % Passing Math
spending_ranges
<$584                 93.702889
$585-629              79.109851
$630-644              70.623565
$645-675              66.230813

In [36]:
total_students_reading_series = scores_by_spending_grouped_df["reading_score"].count()
student_readings_passed_df = scores_by_spending_df.loc[scores_by_spending_df.reading_score >= 70].groupby(["spending_ranges"]).count()
reading_passed_series = student_readings_passed_df["reading_score"]
reading_percentage_ranged_df = pd.DataFrame((reading_passed_series/total_students_reading_series)*100)
reading_percentage_ranged_df = reading_percentage_ranged_df.rename(columns={"reading_score":"% Passing reading"})
reading_percentage_ranged_df

                 % Passing reading
spending_ranges
<$584                    96.686558
$585-629                 88.513145
$630-644                 82.600247
$645-675                 81.109397

In [ ]:
Overall Overall Passing Rate is calculated from the average % Passing Math and % Passing Reading as per to instructions 
of the assignment

In [57]:
overall_percentage_df = pd.DataFrame((math_percentage_ranged_df["% Passing Math"] + reading_percentage_ranged_df["% Passing reading"])/2,columns = ["% Overall Passing"])
percentage_df=pd.merge(math_percentage_ranged_df,reading_percentage_ranged_df,on="spending_ranges")
percentage_df=pd.merge(percentage_df,overall_percentage_df,on="spending_ranges")
percentage_df=pd.merge(scores_by_spending_ranged_df,percentage_df,on="spending_ranges") 
percentage_df = percentage_df.rename(columns = {"math_score":"Average Math Score",
                      "reading_score" : "Average Reading Score"})
del percentage_df["per_student_spend"]

format_dict_scores = {
    "Average Math Score":"{:,.2f}", 
    "Average Reading Score":"{:,.2f}", 
    "% Passing Math":"{:,.2f}", 
    "% Passing reading":"{:,.2f}", 
    "% Overall Passing":"{:,.2f}"
    }

percentage_df = percentage_df.style.format(format_dict_scores)
percentage_df

## Scores by School Size

* Perform the same operations as above, based on school size.

In [80]:
df_dist = school_data[["school_name","size"]]
df_dist.describe()
# Q1 = 1698
# Q3 = 3474
# max = 4976
bins = [0,1698, 3474, 4977]
# bins = [0,1000, 2000, 5000]
group_names = ["Small (<1698)", "Medium (1699-3474)", "Large (3475>)"]

scores_by_size_df = school_data_complete[["math_score","reading_score","size"]].copy()
scores_by_size_df["School Size"] = pd.cut(scores_by_size_df["size"], bins, labels=group_names, include_lowest=True)
del scores_by_size_df["size"]
scores_by_size_grouped_df = scores_by_size_df.groupby(["School Size"])

scores_by_size_ranged_df = scores_by_size_grouped_df.mean()
scores_by_size_ranged_df

                    math_score  reading_score
School Size
Small (<1698)        83.523375      83.877115
Medium (1699-3474)   79.892255      82.396762
Large (3475>)        77.070764      80.928365

In [81]:
total_students_maths_series = scores_by_size_grouped_df["math_score"].count()
student_maths_passed_df = scores_by_size_df.loc[scores_by_size_df.math_score >= 70].groupby(["School Size"]).count()
math_passed_series = student_maths_passed_df["math_score"]
math_percentage_ranged_df = pd.DataFrame((math_passed_series/total_students_maths_series)*100)
math_percentage_ranged_df = math_percentage_ranged_df.rename(columns={"math_score":"% Passing Math"})

In [75]:
total_students_reading_series = scores_by_size_grouped_df["reading_score"].count()
student_readings_passed_df = scores_by_size_df.loc[scores_by_size_df.reading_score >= 70].groupby(["School Size"]).count()
reading_passed_series = student_readings_passed_df["reading_score"]
reading_percentage_ranged_df = pd.DataFrame((reading_passed_series/total_students_reading_series)*100)
reading_percentage_ranged_df = reading_percentage_ranged_df.rename(columns={"reading_score":"% Passing reading"})
reading_percentage_ranged_df

                    % Passing reading
School Size
Small (<1698)               96.040317
Medium (1699-3474)          96.773058
Large (3475>)               82.125158

In [82]:
overall_percentage_df = pd.DataFrame((math_percentage_ranged_df["% Passing Math"] + reading_percentage_ranged_df["% Passing reading"])/2,columns = ["% Overall Passing"])
percentage_df=pd.merge(math_percentage_ranged_df,reading_percentage_ranged_df,on="School Size")
percentage_df=pd.merge(percentage_df,overall_percentage_df,on="School Size")
percentage_df=pd.merge(scores_by_size_ranged_df,percentage_df,on="School Size") 
percentage_df = percentage_df.rename(columns = {"math_score":"Average Math Score",
                      "reading_score" : "Average Reading Score"})

format_dict_scores = {
    "Average Math Score":"{:,.2f}", 
    "Average Reading Score":"{:,.2f}", 
    "% Passing Math":"{:,.2f}", 
    "% Passing reading":"{:,.2f}", 
    "% Overall Passing":"{:,.2f}"
    }

percentage_df = percentage_df.style.format(format_dict_scores)
percentage_df

## Scores by School Type

* Perform the same operations as above, based on school type

In [87]:
scores_by_type_df = school_data_complete[["math_score","reading_score","type"]].copy()
scores_by_type_df = scores_by_type_df.rename(columns = {"type":"School Type"})
scores_by_type_grouped_df = scores_by_type_df.groupby(["School Type"])
scores_by_type_ranged_df = scores_by_type_grouped_df.mean()
scores_by_type_ranged_df

             math_score  reading_score
School Type
Charter       83.406183      83.902821
District      76.987026      80.962485

In [89]:
total_students_maths_series = scores_by_type_grouped_df["math_score"].count()
student_maths_passed_df = scores_by_type_df.loc[scores_by_type_df.math_score >= 70].groupby(["School Type"]).count()
student_maths_passed_df
math_passed_series = student_maths_passed_df["math_score"]
math_percentage_ranged_df = pd.DataFrame((math_passed_series/total_students_maths_series)*100)
math_percentage_ranged_df = math_percentage_ranged_df.rename(columns={"math_score":"% Passing Math"})
math_percentage_ranged_df

             % Passing Math
School Type
Charter           93.701821
District          66.518387

In [90]:
total_students_reading_series = scores_by_type_grouped_df["reading_score"].count()
student_readings_passed_df = scores_by_type_df.loc[scores_by_type_df.reading_score >= 70].groupby(["School Type"]).count()
reading_passed_series = student_readings_passed_df["reading_score"]
reading_percentage_ranged_df = pd.DataFrame((reading_passed_series/total_students_reading_series)*100)
reading_percentage_ranged_df = reading_percentage_ranged_df.rename(columns={"reading_score":"% Passing reading"})
reading_percentage_ranged_df

             % Passing reading
School Type
Charter              96.645891
District             80.905249

In [92]:
overall_percentage_df = pd.DataFrame((math_percentage_ranged_df["% Passing Math"] + reading_percentage_ranged_df["% Passing reading"])/2,columns = ["% Overall Passing"])
percentage_df=pd.merge(math_percentage_ranged_df,reading_percentage_ranged_df,on="School Type")
percentage_df=pd.merge(percentage_df,overall_percentage_df,on="School Type")
percentage_df=pd.merge(scores_by_type_ranged_df,percentage_df,on="School Type") 
percentage_df = percentage_df.rename(columns = {"math_score":"Average Math Score",
                      "reading_score" : "Average Reading Score"})

format_dict_scores = {
    "Average Math Score":"{:,.2f}", 
    "Average Reading Score":"{:,.2f}", 
    "% Passing Math":"{:,.2f}", 
    "% Passing reading":"{:,.2f}", 
    "% Overall Passing":"{:,.2f}"
    }

percentage_df = percentage_df.style.format(format_dict_scores)
percentage_df